{% extends '../base.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/posts.css" type="text/css">
{% endblock %}

{% block content %}
    <a href="posts/create">Create</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Body</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>
                    <a href="posts/edit/{{ post.id }}">Edit</a>
                    <a href="posts/delete/{{ post.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
